body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7c1de;
}

#header {
    margin: 40px 0;
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: space-around;
    color: #092447;
    font-size: 20px;
}

.btn {
    display: inline-block;
    cursor: pointer;
}

    .btn:hover {
        text-decoration: underline;
    }

#title {
    font-family: 'Major Mono Display', helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

    .r {
        box-sizing: border-box;
        display: inline-block;
        border: 2px solid #092447;
        border-radius: 3px;
    }

.wrapper {
    width: 1000px;
    height: 85vh;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.board {
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem
}

@media (max-width: 750px) {
    .board {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    #title {
        font-size: 24px;
        line-height: 24px;
    }

    .btn {
        font-size: 16px;
        font-weight: bold;
    }

}

@media (max-width: 450px) {

    .board {
        grid-gap: 12px;
    }

    #header {
        margin: 20px 0;
    }

    #title {
        font-size: 16px;
        line-height: 16px;
    }

    .btn {
        font-size: 12px;
        font-weight: bold;
    }

    .r {
        border: 1px solid #092447;
        border-radius: 2px;
    }

}

.tile {
    box-sizing: border-box;
    padding: 15%;
    display: flex;
    background-color: #b7c1de;
    justify-content: center;
    align-items: center;
    border: 2px solid #092447;
}

.piece {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    filter: invert(11%) sepia(28%) saturate(3668%) hue-rotate(195deg) brightness(94%) contrast(99%);
    opacity: 0;
}

.display {
    opacity: 1;
}

#piece-animation {
    animation: piece-color 0.5s forwards;
}
    @keyframes piece-color {
        0% { filter: invert(11%) sepia(28%) saturate(3668%) hue-rotate(195deg) brightness(94%) contrast(99%); }
        33% { filter: invert(21%) sepia(23%) saturate(1592%) hue-rotate(256deg) brightness(90%) contrast(81%); }
        66% { filter: invert(69%) sepia(63%) saturate(4746%) hue-rotate(241deg) brightness(80%) contrast(76%); } 
        100% { filter: invert(85%) sepia(10%) saturate(590%) hue-rotate(189deg) brightness(90%) contrast(94%); }
    }

#tile-animation {
    animation: tile-color 1s forwards
}
    @keyframes tile-color {
        0% { background-color: #b7c1de; }
        100% { background-color: #092447; }
    }